@using PagedList;
@using PagedList.Mvc;


@model IPagedList<OrgProject.Models.FinalMaster>
@{
    ViewBag.Title = "ViewMaster";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    .MyDetails {
        margin-left: 30%;
        background-color: #F7631B;
    }
    .MyDiv {
        border: 1px solid #736dce;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
       float:right;
    }


    .formid {
        margin: 40px auto 20px 40px
    }

</style>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

     function Here() {

        //   https://jqueryui.com/
        $("#txtsearch").autocomplete({
            source: '@Url.Action("GetAllDataMaster")',

        }); }

    $(document).ready(function () {
        Here();

    });

</script>


<div class="container">
    <div class="row">

        @using (Html.BeginForm("ViewMaster", "Home", FormMethod.Post, new { @class = "formid" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBox("Search", null, htmlAttributes: new { @class = "form-control input-lg", id = "txtsearch" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("Dep_id", (IEnumerable<SelectListItem>)ViewBag.Dep_id, new { @class = "form-control input-lg" })
                    </div>

                    <div class="col-md-3">
                        @Html.DropDownList("YearBag", (IEnumerable<SelectListItem>)ViewBag.YearBag, new { @class = "form-control input-lg" })
                    </div>

                    <div class="col-md-2">
                        <input style="width:auto;height:45px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px; margin-top:auto;" type="submit" value="Search" class="form-control btn btn-success" />
                    </div>
                </div>
            </div>
        }


        @if (Model.Count() == 0)
        {
            <h2 class="alert alert-danger text-center">  There Are No result </h2>
        }
        else
        {
            foreach (var item in Model)
            {
                //
            <div class="col-md-6">

                @*<div class="container">
        <div class="row">*@


                <div class="MyDiv">


                    @if (item.ImageProject == null || item.ImageProject == "")
                    {
                        <img src="~/PdfImageVideo/images/face finder.png" style="width: 60%;" />
                    }
                    else
                    {
                        <img src="~/PdfImageVideo/images/@item.ImageProject" style="width: 60%;" />

                    }
                    <h2 style="color:#000;">  @Html.DisplayFor(modelItem => item.TitleOfMaster) </h2>
                    <p style="font-size:20px;color:#5f5050;">
                        @Html.DisplayFor(modelItem => item.NameOfMaster)
                    </p>

                    @Html.ActionLink("Details", "DetailsMaster", "Home", new { id = item.id }, new { @class = "btn btn-primary MyDetails" })






                    @*</div>
            </div>*@

                </div>
            </div>

            }
        }





    </div>

</div>

@Html.PagedListPager(Model, Page => Url.Action("ViewMaster", new
{ Page, Search = Request.QueryString["Search"] }), new PagedListRenderOptions()
{
    Display = PagedListDisplayMode.IfNeeded,
    DisplayPageCountAndCurrentLocation = true
})


